.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.about_me{
  display: flex;
  justify-content: center;
}
.my_icon {
  width: 50%;
  max-width: 500px;
  height: auto;
  margin: 30px;
}

.my_profile {
  margin: 30px;
  padding: 0;
}