.card {
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
}

.date {
  order: 2;
}

.content {
  order: 1;
}

.title {
  font-size: 1rem;
}

.note {
  font-size: 0.8rem;
}
