.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 12px auto 0px;
}

.profile {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 35%;
  text-align: center;
}

.content {
  width: 65%;
}

.name {
  font-size: 1.4rem;
  font-weight: bolder;
  padding-bottom: 4px;
  border-bottom: 4px #0bd solid;
}

.introduction {
  margin: 42px 0 30px;
}

.links {
  color: #0bd;
}

.links:hover {
  color: rgba(0, 188, 221, 0.584);
}
